apiVersion: v1
kind: PersistentVolume
metadata:
  name: postgres-pv-medicoes
spec:
  storageClassName: manual
  capacity:
    storage: 1Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: "/data/postgres"
    type: DirectoryOrCreate