apiVersion: apps/v1
kind: Deployment
metadata:
  name: grafana
  namespace: agro-medicoes
  labels:
    app: grafana
spec:
  replicas: 1
  selector:
    matchLabels:
      app: grafana
  template:
    metadata:
      labels:
        app: grafana
    spec:
      initContainers:
        - name: wait-for-postgres
          image: postgres:16-alpine
          resources:
            requests:
              cpu: "10m"
              memory: "32Mi"
            limits:
              cpu: "50m"
              memory: "64Mi"
          command: ['sh', '-c', 'until pg_isready -h postgres -p 5432; do echo "Waiting for Postgres..."; sleep 2; done;']
      containers:
        - name: grafana
          image: grafana/grafana:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 3000
          env:
            - name: GF_FEATURE_TOGGLES_ENABLE
              value: "tempoSearch,tempoBackendSearch"
          envFrom:
            - secretRef:
                name: grafana-auth
            - secretRef:
                name: database-config

          volumeMounts:
            - name: grafana-datasources
              mountPath: /etc/grafana/provisioning/datasources
              readOnly: true

            - name: grafana-dashboard-provider
              mountPath: /etc/grafana/provisioning/dashboards

            - name: grafana-dashboards-agro
              mountPath: /var/lib/grafana/dashboards/agro

          readinessProbe:
            httpGet:
              path: /api/health
              port: 3000
            initialDelaySeconds: 10
            periodSeconds: 10

          livenessProbe:
            httpGet:
              path: /api/health
              port: 3000
            initialDelaySeconds: 30
            periodSeconds: 20
          resources:
            requests:
              cpu: "100m"
              memory: "256Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
      volumes:
        - name: grafana-datasources
          configMap:
            name: grafana-datasources

        - name: grafana-dashboard-provider
          configMap:
            name: grafana-dashboard-provider

        - name: grafana-dashboards-agro
          configMap:
            name: grafana-dashboards-agro

        - name: grafana-storage
          persistentVolumeClaim:
            claimName: grafana-storage